<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.server.mapper.ChatRecordMapper">

  <resultMap id="BaseResultMap" type="org.server.dao.ChatRecordDAO">
    <id property="id" column="id" jdbcType="VARCHAR"/>
    <result property="senderUserId" column="sender_user_id" jdbcType="VARCHAR"/>
    <result property="receiverUserId" column="receiver_user_id" jdbcType="VARCHAR"/>
    <result property="chatroomId" column="chatroom_id" jdbcType="VARCHAR"/>
    <result property="msgType" column="msg_type" jdbcType="VARCHAR"/>
    <result property="systemMsgType" column="system_msg_type" jdbcType="VARCHAR"/>
    <result property="content" column="content" jdbcType="LONGNVARCHAR"/>
    <result property="status" column="status" jdbcType="INTEGER"/>
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
  </resultMap>

  <insert id="insertChatRecord">
    insert into tb_chat_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="senderUserId != null">sender_user_id,</if>
      <if test="receiverUserId != null">receiver_user_id,</if>
      <if test="chatroomId != null">chatroom_id,</if>
      <if test="msgType != null">msg_type,</if>
      <if test="systemMsgType != null">system_msg_type,</if>
      <if test="content != null">content,</if>
      <if test="status != null">status,</if>
      <if test="updateTime != null">update_time,</if>
      <if test="createTime != null">create_time,</if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id,jdbcType=VARCHAR},</if>
      <if test="senderUserId != null">#{senderUserId,jdbcType=VARCHAR},</if>
      <if test="receiverUserId != null">#{receiverUserId,jdbcType=VARCHAR},</if>
      <if test="chatroomId != null">#{chatroomId,jdbcType=VARCHAR},</if>
      <if test="msgType != null">#{msgType,jdbcType=VARCHAR},</if>
      <if test="systemMsgType != null">#{systemMsgType,jdbcType=VARCHAR},</if>
      <if test="content != null">#{content,jdbcType=LONGVARCHAR},</if>
      <if test="status != null">#{status,jdbcType=INTEGER},</if>
      <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
      <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
    </trim>

  </insert>


  <select resultMap="BaseResultMap" id="selectChatRecords" resultType="org.server.dao.ChatRecordDAO">
    SELECT * FROM tb_chat_record
    <where>
      <if test="id != null and id != ''">
        AND id = #{id}
      </if>
      <if test="senderUserId != null and senderUserId != ''">
        AND sender_user_id = #{senderUserId}
      </if>
      <if test="receiverUserId != null and receiverUserId != ''">
        AND receiver_user_id = #{receiverUserId}
      </if>
      <if test="chatroomId != null and chatroomId != ''">
        AND chatroom_id = #{chatroomId}
      </if>
      <if test="msgType != null and msgType != ''">
        AND msg_type = #{msgType}
      </if>
      <if test="systemMsgType != null and systemMsgType != ''">
        AND system_msg_type = #{systemMsgType}
      </if>
      <if test="content != null and content != ''">
        AND content LIKE CONCAT('%', #{content}, '%')
      </if>
      <if test="status != null">
        AND status = #{status}
      </if>
      <if test="updateTimeStart != null">
        AND update_time &gt;= #{updateTimeStart}
      </if>
      <if test="updateTimeEnd != null">
        AND update_time &lt;= #{updateTimeEnd}
      </if>
      <if test="createTimeStart != null">
        AND create_time &gt;= #{createTimeStart}
      </if>
      <if test="createTimeEnd != null">
        AND create_time &lt;= #{createTimeEnd}
      </if>
    </where>
    ORDER BY create_time DESC
  </select>


</mapper>