<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.server.mapper.InterpersonalMapper">


  <resultMap id="BaseResultMap" type="org.server.dao.InterpersonalDAO">
    <id property="id" column="id" jdbcType="VARCHAR"/>
    <result property="userId" column="user_id" jdbcType="VARCHAR"/>
    <result property="blacklist" column="blacklist" jdbcType="VARCHAR"/>
    <result property="blacklisted" column="blacklisted" jdbcType="VARCHAR"/>
    <result property="banChatRoom" column="ban_chat_room" jdbcType="VARCHAR"/>
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
  </resultMap>

  <insert id="insertInterpersonal">
    insert into tb_interpersonal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="userId != null">user_id,</if>
      <if test="blacklist != null">blacklist,</if>
      <if test="blacklisted != null">blacklisted,</if>
      <if test="banChatRoom != null">ban_chat_room,</if>
      <if test="updateTime != null">update_time,</if>
      <if test="createTime != null">create_time,</if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id,jdbcType=VARCHAR},</if>
      <if test="userId != null">#{userId,jdbcType=VARCHAR},</if>
      <if test="blacklist != null">#{blacklist,jdbcType=VARCHAR},</if>
      <if test="blacklisted != null">#{blacklisted,jdbcType=VARCHAR},</if>
      <if test="banChatRoom != null">#{banChatRoom,jdbcType=VARCHAR},</if>
      <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
      <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
    </trim>

  </insert>
  <select id="selectByUserId" resultType="org.server.dao.InterpersonalDAO">
    select * from tb_interpersonal where user_id = #{userId}
  </select>






</mapper>