<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.server.mapper.OrderMapper">


  <resultMap id="BaseResultMap" type="org.server.dao.OrderDAO">
    <id property="id" column="id" jdbcType="VARCHAR"/>
    <result property="userId" column="user_id" jdbcType="VARCHAR"/>
    <result property="walletId" column="wallet_id" jdbcType="VARCHAR"/>
    <result property="price" column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
    <result property="paymentMethod" column="payment_method" jdbcType="VARCHAR"/>
    <result property="type" column="type" jdbcType="INTEGER"/>
    <result property="status" column="status" jdbcType="INTEGER"/>
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
  </resultMap>


  <insert id="insertOrder">
    insert into tb_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="userId != null">user_id,</if>
      <if test="walletId != null">wallet_id,</if>
      <if test="price != null">price,</if>
      <if test="paymentMethod != null">payment_method,</if>
      <if test="type != null">type,</if>
      <if test="status != null">status,</if>
      <if test="updateTime != null">update_time,</if>
      <if test="createTime != null">create_time,</if>

    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id,jdbcType=VARCHAR},</if>
      <if test="userId != null">#{userId,jdbcType=VARCHAR},</if>
      <if test="walletId != null">#{walletId,jdbcType=VARCHAR},</if>
      <if test="price != null">#{price,jdbcType=DECIMAL,javaType=java.math.BigDecimal},</if>
      <if test="paymentMethod != null">#{paymentMethod,jdbcType=VARCHAR},</if>
      <if test="type != null">#{type,jdbcType=INTEGER},</if>
      <if test="status != null">#{status,jdbcType=INTEGER},</if>
      <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
      <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>

  <update id="updateByUserId">
    update tb_order set price = #{price} where user_id = #{userId}
  </update>


  <select resultMap ="BaseResultMap" id="selectAll" resultType="org.server.dao.OrderDAO">
     select * from tb_order;
  </select>


  <select resultMap ="BaseResultMap" id="selectById" resultType="org.server.dao.OrderDAO">
    select * from tb_order where id = #{id} ;
  </select>


</mapper>